{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>
  <br>
  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item" style = "display: flex;">
      {% if project.photo %}
        <div class="project-photo">
        <a href="{{ project.link }}">
          <img src="{{ project.photo }}" style="width:70px;height:70px; vertical-align: middle;margin-right:10px;">
        </a><br><br>
        </div>
      {% endif %}

      <div class="project-title" style="width:200px; vertical-align: middle; margin-right:10px;">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </div>

      {% if project.tagline %}
      <div class="project-tagline" style="width:400px;">{{ project.tagline }}</div>
      {% endif %}
    
      

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
